body {
    background-color:#ACADA8;
}

.image-container {
    height: 500px;
    width: 300px;
}

img {
    border: 2px solid black;
    width: auto;
    height: 100%;
}

#dog {
    margin-top: 10px;
    margin-left: 25%;
    border-radius: 8px;
    border: 2px solid black;
    transition-duration: 0.4s;
    background: rgb(41, 190, 41);
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#dog:hover {
    opacity: 0.6;
}